:host {
  .container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    // .login {
    //   width: 100px;
    //   height: 33px;
    // }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 400px;
      max-height: 500px;
      width: 70vh;
      height: 80vh;
      box-shadow: var(--box-shadow);
      border-radius: 10px;
      //   background-color: var(--tertiary-color);
    }
  }
}
